* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 8px #000000;
    font-size: 1em;
    color: white;
}

body {
    background-image: url(./../img/background-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.125);
    align-items: center;
}

.logo-title {
    display: flex;
    margin: 1.5rem;
    align-items: center;
    width: 10rem;
}

#logo {
    max-width: 100%;
    height: 5vw;
}

.logo-title:hover, li a:hover {
    background-color: rgba(173, 221, 255, 0.779);
    box-shadow: 4px #000000;
    border-radius: 5px;
    color: #141414;
    text-shadow: none;
}

div p:hover {
    text-shadow: none;
    color: #141414;
}

nav a {
    text-decoration: none;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 3rem;
}

li {
    margin: 20px;
}

li a {
    padding: 1rem;
}

#hero-section {
    display: flex;
    margin: 3rem 5rem 3rem 5rem;
    align-items: center;
    justify-content: center;
}

header {
    margin-right: 5rem;
}

#greetings {
    margin-bottom: 15px;
    font-size: 40px;
    color: #fbe568;
    font-style: italic;
}

#description {
    font-size: 20px;
    margin-bottom: 10px;
}
h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

span {
    background-color: #fbe568;
    color: #ffffff;
    font-style: italic;
    border-radius: 5px;
    padding: 1px;
    text-shadow:2px 2px 4px #000000;
}

button {
    padding: 10px;
    font-style: italic;
    background-color: #50C4ED;
    color: white;
    border-radius:  8px;
    border-style: none;
    box-shadow: 2px 2px 4px black;
}

button a {
    text-decoration: none;
    text-shadow:2px 2px 4px #000000;
}

button:hover, button a:hover {
    background-color: rgb(198, 242, 255);
    color: rgb(54, 53, 53);
    text-shadow: none;
}

#hero-image {
    max-width: 100%;
    height: 60vh;
    transform: rotateY(180deg);
}